.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2vh 0;
    height: 50vh;
    background-color: slategray;
}

.sidebar-item {
    padding: 10px 0;
    
    background-color: aquamarine;
}