.header {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    width: 100vw;
    position: sticky;
}

.nav {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
}

.nav-links {
    position: relative;
    right: -20vw;
}

.nav-item {
    margin: 1rem;
    display: inline-flex;
}

.logo-search {
    position: fixed;
    left: 20vw;
    top: 1.2vh;
}